{
  "presets": [
    ["env", {
      "modules": false
    }],
    "stage-0",
    "react"
  ],
  "plugins": [
    "transform-decorators-legacy",
    ["module-resolver", { 
      "root": ["./"],
      "cwd": "./",
      "alias": {
        "paper": "paper/dist/paper-core"
      }
    }]
  ],
  "env": {
    "commonjs": {
      "plugins": ["transform-es2015-modules-commonjs"]
    }
  }
}