{
    "presets": [
      ["env", {
        "modules": false
      }],
      "stage-0",
      "react"
    ],
    "plugins": [
      "transform-decorators-legacy",
      ["lodash", {"id": ["lodash", "recompose"]}],
      ["module-resolver", { 
        "root": ["./"],
        "cwd": "./",
        "alias": {
          "^src$": "./"
        }
      }],
      "babel-plugin-styled-components"
    ]
  }